
/*--------------------HTML Selectors------------------*/

body {
	font-family: Helvetica;
	font-weight: 100;
	color:black;
	background:#fffbf0;
}
section {
	position:relative;
	width:100%;
	z-index: 3;
	text-align: center;
}

img.emph {
	opacity:0;
	width:30%;
	max-width: 100px;
	margin-top: 5%;
}

/*--------------------CLASS Selectors--------------------*/

.spacer {
	height:600px;
}
.secondaryFont {
	font-family: 'Cabin Sketch', cursive;	
}
.blurb {
	font-size: 1em;
	vertical-align: center;
	font-size: 16px;
	margin: 0 auto;
 	opacity: 0; 
	text-align: center;	
}
.blurb p {
	text-align: left;
}
.headerText {
	margin: 0 auto;
	opacity:0;
}
.headerText h1{
	text-align: center;
	font-size: 40px;
}


/*--------------------ID Selectors--------------------*/

#loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../image/loading.gif') 50% 50% no-repeat white;
	background-size: 200px auto;	
}


#staticBG {
	background: #fffbf0 url(../image/watercolour_bg_2.jpg) no-repeat center top;
	z-index: 2;
	
}
#staticBG2{
	background: #fffbf0 url(../image/watercolour_bg_2b.jpeg) no-repeat center bottom;
	z-index: 1;
}
#staticBG,#staticBG2 {
	position:fixed;
	top:0px;
	background-size:cover;
}

#sectionOne {
	width:100%;
	height:100%;
	text-align: center;
	position:relative;	
	overflow:hidden;
}

#splashTitle {
	width: 100%;
	height: 100%;
}

#splashTitle img {
	width:100%;
}

#sectionOne .whitespace {
	background:white;
	width:100%;
}

#testBox {
	height:100px;
	width:100px;
	background: blue;
}

#trigger {
	width:100%;
	height:1px;
	background: black;
}

#sectionFour {
	text-align: center;	
}

#infoGraphic,.blurb{
	max-width: 900px;
}

#infoGraphic video{
	padding: 2px;
	border: 2px solid white;	
	
}

#sectionFive img{
	width:80%;
	max-width: 300px;
}

/************************************************************************/
/**************************      MEDIA QUERIES     **********************/
/************************************************************************/
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {


}

/* Small devices (desktops, 768px and down) */
@media (min-width: 991px) {
	.blurb {
		font-size: 20px;
/* 		width:80%; */
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	.blurb p {

	}
	.headerText {
		padding-top: 50px;
	}
	.headerText h1{
	 	font-size: 60px; 
	}
	#infoGraphic video{
		padding: 20px;
		border: 2px solid white;	
	}
	img.emph {
		margin-left: 5px;
		margin-right: 5px; 		
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

